<body style="background-image:url('black.jpeg');">
<center>
	<h3>Hello <%= session[:name] %></h3>
</center>	
<center>

<p class="outset">
<div style="margin-top:200px";>

           <h1>The</h1><h2>Very Basic</h2><h3>Tic Tac Toe</h3>
           <canvas id ="canvas1" width="150" height="150"  style="border:5px solid white" onclick="canvasClicked(1)"></canvas>
           <canvas id ="canvas2" width="150" height="150" style="border:5px solid white" onclick="canvasClicked(2)"></canvas>
           <canvas id ="canvas3" width="150" height="150" style="border:5px solid white" onclick="canvasClicked(3)"></canvas><br></br>
           <canvas id ="canvas4" width="150" height="150" style="border:5px solid white" onclick="canvasClicked(4)"></canvas>
           <canvas id ="canvas5" width="150" height="150" style="border:5px solid white" onclick="canvasClicked(5)"></canvas>
           <canvas id ="canvas6" width="150" height="150" style="border:5px solid white" onclick="canvasClicked(6)"></canvas><br></br>
           <canvas id ="canvas7" width="150" height="150" style="border:5px solid white" onclick="canvasClicked(7)"></canvas>
           <canvas id ="canvas8" width="150" height="150" style="border:5px solid white" onclick="canvasClicked(8)"></canvas>
           <canvas id ="canvas9" width="150" height="150" style="border:5px solid white" onclick="canvasClicked(9)"></canvas>
    </div>
</center>
</p>
         </body>