
<center>
	
	<h3>Hello <%= session[:name] %></h3>
	
	<br />
	<% updateCount() %>
	<h3>You have played this game <%= session[:num_login] %> times</h3>

</center>
	
<center>

<div id ="box">

    <canvas id = "canvas1" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(1)"></canvas>

    <canvas id = "canvas2" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(2)"></canvas>

    <canvas id = "canvas3" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(3)"></canvas><br/>

    <canvas id = "canvas4" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(4)"></canvas>

    <canvas id = "canvas5" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(5)"></canvas>

    <canvas id = "canvas6" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(6)"></canvas><br/>

    <canvas id = "canvas7" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(7)"></canvas>

    <canvas id = "canvas8" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(8)"></canvas>

    <canvas id = "canvas9" width="50px" height="50px" class="canvasbox" onclick="canvasClicked(9)"></canvas>

</div>

</center>