
<center>
	
	<h3>Hello <%= session[:name] %></h3>
	
	<br />
	
	<h3>You have played this game <%= session[:num_login] %> times</h3>

</center>
	
<center>

<div id ="box">

    <canvas id = "canvas1" class="canvasbox" onclick="canvasClicked(1)"></canvas>

    <canvas id = "canvas2" class="canvasbox" onclick="canvasClicked(2)"></canvas>

    <canvas id = "canvas3" class="canvasbox" onclick="canvasClicked(3)"></canvas><br/>

    <canvas id = "canvas4" class="canvasbox" onclick="canvasClicked(4)"></canvas>

    <canvas id = "canvas5" class="canvasbox" onclick="canvasClicked(5)"></canvas>

    <canvas id = "canvas6" class="canvasbox" onclick="canvasClicked(6)"></canvas><br/>

    <canvas id = "canvas7" class="canvasbox" onclick="canvasClicked(7)"></canvas>

    <canvas id = "canvas8" class="canvasbox" onclick="canvasClicked(8)"></canvas>

    <canvas id = "canvas9" class="canvasbox" onclick="canvasClicked(9)"></canvas>

</div>

</center>