<center>

	<div style="margin-top: 100px;">
	
		<h1>Introducing</h1><h3> TIC - TAC - TOE!</h3>
	
	</div>

	<div style="margin-top: 100px;">

		<a id="submitBtn" href="/auth/google"><img height="60px" width="250px" src="google_signin.png" /></a>

	</div>

</center>
