h2 {text-indent:150px;text-align:center;color:red;}
h1 {text-indent:150px;text-align:center;color:#00ff00;}
h3 {text-indent:150px;text-align:center;color:rgb(0,0,255);}
p.groove {border-style:outset;}